.download-section .myrow {
	margin-left: 15px;
	margin-right: 15px;
}

@media (max-width: 500px) {
	.download-section .myrow {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.download-section .title {
	font-family: "Microsoft YaHei" !important;
	font-weight: 900;
	font-size: 42px;
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .title {
		font-size: 38px;
	}
}

@media (max-width: 500px) {
	.download-section .title {
		font-size: 36px;
	}
}

.download-section .content {
	font-family: "Microsoft YaHei" !important;
	margin-top: 5px;
	margin-bottom: 60px;
	font-size: 22px;
	font-weight: 700;
}

@media (max-width: 500px) {
	.download-section .content {
		margin-top: 0px;
		margin-bottom: 30px;
		font-size: 18px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .content {
		font-size: 16px;
	}
}

.download-section .img-container {
	padding: 0;
}

.download-section .img-container .ipad-download {
	width: 100%;
	height: auto;
}

.download-section .img-container .iphone-download {
	width: 100%;
	height: auto;
}

.download-section .img-container .QR-download {
	width: 100%;
	height: auto;
}

.download-section .download-placeholder {
	margin-top: 0;
	width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	.download-section .download-placeholder {
		margin-top: 20px;
	}
}