
.download-section {
	padding-top: 100px;
	padding-bottom: 50px;
}

@media (max-width: 500px) {
	.download-section {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section {
		padding-top: 90px;
		padding-bottom: 80px;
	}
}

.download-section .myrow {
	margin-left: 15px;
	margin-right: 15px;
}

@media (max-width: 500px) {
	.download-section .myrow {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.download-section .title {
	font-family: "Microsoft YaHei" !important;
	font-weight: 900;
	font-size: 24px;
}

@media (max-width: 500px) {
	.download-section .title {
		font-size: 20px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .title {
		font-size: 26px;
	}
}

.download-section .content {
	font-family: "Microsoft YaHei" !important;
	margin-top: 20px;
	font-size: 18px;
}

@media (max-width: 500px) {
	.download-section .content {
		margin-top: 10px;
		font-size: 15px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .content {
		font-size: 16px;
	}
}

.download-section .download-text-container {
	margin-top: 90px;
}

@media (max-width: 500px) {
	.download-section .download-text-container {
		margin-top: 20px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .download-text-container {
		margin-top: 50px;
	}
}

.download-section .text {
	padding: 0;
	font-family: "Microsoft YaHei" !important;
	font-size: 16px;
	font-weight: 900;
}

.download-section .app-text {
	padding: 0;
	font-family: "Microsoft YaHei" !important;
	font-size: 14px;
}

.download-section .img-container {
	padding: 0;
}

.download-section .img-container .ipad-logo {
	width: 100%;
	height: auto;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .img-container .ipad-logo {
		max-width: 70px;
	}
}

.download-section .img-container .iphone-logo {
	width: 100%;
	height: auto;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .img-container .iphone-logo {
		max-width: 70px;
	}
}

.download-section .img-container .QR-code {
	width: 100%;
	height: auto;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .img-container .QR-code {
		max-width: 70px;
	}
}

.download-section .name-container {
	margin: 0;
	padding: 0;
}

.download-section .ipad-name {
	padding-top: 5px;
	font-family: "Microsoft YaHei" !important;
	font-size: 15px;
	font-weight: 900;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .ipad-name {
		max-width: 70px;
	}
}

.download-section .iphone-name {
	padding-top: 5px;
	font-family: "Microsoft YaHei" !important;
	font-size: 15px;
	font-weight: 900;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .iphone-name {
		max-width: 70px;
	}
}

.download-section .QR-code-name {
	padding-top: 5px;
	font-family: "Microsoft YaHei" !important;
	font-size: 15px;
	font-weight: 900;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .QR-code-name {
		max-width: 70px;
	}
}

.download-section .download-placeholder {
	max-width: 550px;
	width: 100%;
	height: auto;
}

@media (max-width: 500px) {
	.download-section .download-placeholder {
		width: 100%;
		height: auto;
	}
}