.ipad-function-section {
	background-color: #FFFFFF;
	width: 100%;
}

.ipad-function-section .plus {
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #1EBAD6;
    display: block;
    left: 50%;
    margin-left: -13px;
    opacity: 0.8;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    position: absolute;
    top: 64%;
    line-height: 1;
}

/*************************************
 **** screen (width > 1800) ****
 *************************************/
.ipad-function-section .section-label {
	background-color: rgba(3, 2, 2, 0.9);
	font-family: "Microsoft YaHei" !important;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 27px;
	margin: auto;
	color: #FFFFFF;
	letter-spacing: 3px;
}

.ipad-function-section .title {
	margin-top: 35px;
	margin-bottom: 0;
	font-size: 37px;
	font-weight: 580;
	font-family: "Microsoft YaHei" !important;
	letter-spacing: 2px;
}

.ipad-function-section .description {
	margin-top: 5px;
	font-size: 20px;
	font-family: "Microsoft YaHei" !important;
}

.ipad-function-section .ipad-function-small-image-container {
	position:relative;
}

.ipad-function-section .gallery-thumbnail-container {
	max-width: 1800px;
	margin-top: 80px;
}

.ipad-function-section .gallery-image {
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	max-width:600px;
}

.ipad-function-section .ipad-function-small-image-container .image-overlay {
    position: absolute;
    background-color: rgba(7, 7, 22, 0.7);
    max-width:600px;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

.ipad-function-section .image-title-box {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	max-width:600px;
}

.ipad-function-section .ipad-function-small-image-container .headline {	
	font-family: "Microsoft YaHei" !important;
    color: #FFFFFF;
    top:40%;
    text-align:center;
    width:100%;
    position: absolute;
    font-size: 30px;
    letter-spacing: 2px;
}

.ipad-function-section .my-column {
	margin-bottom: 30px;
}

.ipad-function-section .container {
    width: 1500px;
}

.ipad-function-section .modal-gallery {
	margin-top: 80px;
}

.ipad-function-section .btn-container {
	width: auto;
}

.ipad-function-section .small-device-last-btn {
	display: none;
}

.ipad-function-section .small-device-next-btn {
	display: none;
}

.ipad-function-section .large-device-last-btn {
	margin-top: 210px;
	display: block;
}

.ipad-function-section .function-large-image-text-container {
	margin-top: 150px;
}

.ipad-function-section .function-container h2 {
	font-size: 42px;
	font-weight: 600;
	font-family: "Microsoft YaHei" !important;
	letter-spacing: 3px;
	text-align: left;
}

.ipad-function-section .function-container p {
	font-size: 20px;
	font-weight: 500;
	font-family: "Microsoft YaHei" !important;
	letter-spacing: 1px;
	text-align: left;
}

.ipad-function-section .function-large-image-container {
	width: auto;
	height: 480px;
}

.ipad-function-section .function-image {
	width: auto;
	height: 480px;
}

.ipad-function-section .large-device-next-btn {
	margin-top: 210px;
	display: block;
	float: right;
}

/*****************************************************
 **** screen (width > 1200 && width <= 1800) **********
 *****************************************************/
@media (min-width: 1200px) and (max-width: 1800px) {
	.ipad-function-section .section-label {
		width: 70px;
		font-size: 18px;
	}
	
	.ipad-function-section .title {
		margin-top: 15px;
		font-size: 24px;
	}
	
	.ipad-function-section .description {
		font-size: 15px;
	}
	
	.ipad-function-section .gallery-thumbnail-container {
		max-width: 900px;
		margin-top: 30px;
	}
	
	.ipad-function-section .gallery-image {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .image-overlay {
	    max-width:340px;
	}
	
	.ipad-function-section .image-title-box {
		max-width:340px;
	}

	.ipad-function-section .my-column {
		margin-bottom: 30px;
	}
	
	.ipad-function-section .container {
	    width: 1170px;
	}

	.ipad-function-section .modal-gallery {
		margin-top: 20px;
	}

	.ipad-function-section .function-large-image-text-container {
		margin-top: 60px;
	}

	.ipad-function-section .ipad-function-small-image-container .headline {
		font-size: 18px;
	}
	
	.ipad-function-section .function-large-image-container {
		width: auto;
		height: 350px;
	}

	.ipad-function-section .function-image {
		width: auto;
		height: 350px;
	}
	
	.ipad-function-section .large-device-last-btn {
		margin-top: 150px;
	}
	
	.ipad-function-section .large-device-next-btn {
		margin-top: 150px;
	}
	
	.ipad-function-section .function-container h2 {
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 3px;
		text-align: left;
	}
	
	.ipad-function-section .function-container p {
		font-size: 16px;
	}
}
 
/*****************************************************
 **** screen (width > 950 && width <= 1200) **********
 *****************************************************/
@media (min-width: 950px) and (max-width: 1200px) {
	.ipad-function-section .section-label {
		width: 70px;
		font-size: 18px;
	}
	
	.ipad-function-section .title {
		margin-top: 15px;
		font-size: 24px;
	}
	
	.ipad-function-section .description {
		font-size: 15px;
	}
	
	.ipad-function-section .gallery-thumbnail-container {
		max-width: 900px;
		margin-top: 30px;
	}
	
	.ipad-function-section .gallery-image {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .image-overlay {
	    max-width:340px;
	}
	
	.ipad-function-section .image-title-box {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .headline {
		font-size: 18px;
	}
	
	.ipad-function-section .my-column {
		margin-bottom:24px;
	}

	.ipad-function-section .modal-gallery {
		margin-top: 20px;
	}
	
	.ipad-function-section .container {
		width: 900px;
	}
	
	.ipad-function-section .modal-gallery {
		margin-top: 20px;
	}
	
	.ipad-function-section .btn-container {
		width: auto;
	}
	
	.ipad-function-section .small-device-last-btn {
		display: none;
	}
	
	.ipad-function-section .small-device-next-btn {
		display: none;
	}
	
	.ipad-function-section .large-device-last-btn {
		margin-top: 120px;
		display: block;
	}
	
	.ipad-function-section .function-large-image-text-container {
		width: 300px;
		margin-top: 60px;
	}
	
	.ipad-function-section .function-container h2 {
		font-size: 24px;
		letter-spacing: 2px;
		text-align: left;
		font-weight: 700;
	}
	
	.ipad-function-section .function-container p {
		font-size: 16px;
	}
	
	.ipad-function-section .function-large-image-container {
		width: 390px;
		height: 260px;
	}
	
	.ipad-function-section .function-image {
		width: auto;
		height: 260px;
	}
	
	.ipad-function-section .large-device-next-btn {
		margin-top: 120px;
		display: block;
		float: right;
	}
}

/*****************************************************
 **** screen (width > 750 && width <= 950) ***********
 *****************************************************/
@media (min-width: 750px) and (max-width: 950px) {
	.ipad-function-section .section-label {
		width: 70px;
		font-size: 18px;
	}

	.ipad-function-section .title {
		margin-top: 15px;
		font-size: 24px;
	}
	
	.ipad-function-section .description {
		font-size: 15px;
	}
	
	.ipad-function-section .gallery-thumbnail-container {
		max-width: 900px;
		margin-top: 30px;
	}
	
	.ipad-function-section .gallery-image {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .image-overlay {
	    max-width:340px;
	}
	
	.ipad-function-section .image-title-box {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .headline {
		top: 30%;
		font-size: 18px;
	}
	
	.ipad-function-section .my-column {
		margin-bottom:12px;
	}
	
	.ipad-function-section .container {
		width: 720px;
	}
	
	.ipad-function-section .modal-gallery {
		margin-top: 20px;
	}
	
	.ipad-function-section .btn-container {
		width: auto;
	}
	
	.ipad-function-section .small-device-last-btn {
		display: none;
	}
	
	.ipad-function-section .small-device-next-btn {
		display: none;
	}
	
	.ipad-function-section .large-device-last-btn {
		margin-top: 100px;
		display: block;
	}
	
	.ipad-function-section .function-large-image-text-container {
		width: 240px;
		margin-top: 50px;
	}
	
	.ipad-function-section .function-container h2 {
		font-size: 19px;
		letter-spacing: 1px;
		text-align: left;
		font-weight: 700;
	}
	
	.ipad-function-section .function-container p {
		font-size: 16px;
	}
	
	.ipad-function-section .function-large-image-container {
		width: 320px;
		height: 210px;
	}
	
	.ipad-function-section .function-image {
		width: auto;
		height: 210px;
	}
	
	.ipad-function-section .large-device-next-btn {
		margin-top: 100px;
		display: block;
		float: right;
	}
}

/*****************************************************
 **** screen (width > 340 && width <= 750) ***********
 *****************************************************/
 @media (min-width: 340px) and (max-width: 750px) {
	.ipad-function-section .section-label {
		width: 70px;
		font-size: 18px;
	}

	.ipad-function-section .title {
		margin-top: 15px;
		font-size: 24px;
	}
	
	.ipad-function-section .description {
		font-size: 15px;
	}
	
	.ipad-function-section .gallery-thumbnail-container {
		max-width: 900px;
		margin-top: 30px;
	}
	
	.ipad-function-section .gallery-image {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .image-overlay {
	    max-width:340px;
	}
	
	.ipad-function-section .image-title-box {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .headline {
		top: 25%;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 1px;
	}
	
	.ipad-function-section .my-column {
		margin-bottom:12px;
	}
	
	.ipad-function-section .container {
		width: 100%;
	}
	
	.ipad-function-section .modal-gallery {
		margin-top: 10px;
	}
	
 	.ipad-function-section .btn-container {
		width: 330px;
		margin: auto;
		border-top: 1px solid;
		border-bottom: 1px solid;
		margin-left: 2px;
	    margin-right: 2px;
	    padding-bottom: 5px;
	    padding-top: 5px;
	}
	
	.ipad-function-section .small-device-last-btn {
		display: block;
		max-height: 30px;
	}
	
	.ipad-function-section .small-device-next-btn {
		display: block;
		max-height: 30px;
	}
	
	.ipad-function-section .function-container {
		width: 330px;
		height: auto;
		margin: auto;
	}
	
	.ipad-function-section .large-device-last-btn {
		display: none;
	}
	
	.ipad-function-section .function-large-image-text-container {
		width: 330px;
		margin-bottom: 10px;
		margin-top: 0px;
		padding: 0px;
	}
	
	.ipad-function-section .function-container h2 {
		font-size: 24px;
		letter-spacing: 2px;
		text-align: center;
	}
	
	.ipad-function-section .function-container p {
		font-size: 16px;
	}
	
 	.ipad-function-section .function-large-image-container {
		width: 310px;
		height: 200px;
		padding: 0;
	}
	
	.ipad-function-section .function-image {
		width: 310px;
		height: 200px;
		margin: auto;
	}
	
	.ipad-function-section .large-device-next-btn {
		display: none;
	}
	
}

/*****************************************************
 ************* screen (width < 340) ******************
 *****************************************************/
@media (max-width: 340px) {
	.ipad-function-section .section-label {
		width: 70px;
		font-size: 18px;
	}
	
	.ipad-function-section .title {
		margin-top: 15px;
		font-size: 24px;
	}

	.ipad-function-section .description {
		font-size: 15px;
	}
	
	.ipad-function-section .gallery-thumbnail-container {
		max-width: 900px;
		margin-top: 30px;
	}
	
	.ipad-function-section .gallery-image {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .image-overlay {
	    max-width:340px;
	}
	
	.ipad-function-section .image-title-box {
		max-width:340px;
	}
	
	.ipad-function-section .ipad-function-small-image-container .headline {
		top: 20%;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1px;
	}
	
	.ipad-function-section .my-column {
		margin-bottom:8px;
	}
	
	.ipad-function-section .container {
		width: 100%;
	}
	
	.ipad-function-section .modal-gallery {
		margin-top: 10px;
	}
	
	.ipad-function-section .btn-container {
		border-top: 1px solid;
		border-bottom: 1px solid;
		margin-left: 2px;
	    margin-right: 2px;
	    padding-bottom: 5px;
	    padding-top: 5px;
	}
	
	.ipad-function-section .small-device-last-btn {
		display: block;
		max-height: 30px;
	}
	
	.ipad-function-section .small-device-next-btn {
		display: block;
		max-height: 30px;
	}
	
	.ipad-function-section .function-container {
		width: auto;
		height: auto;
	}
	
	.ipad-function-section .large-device-last-btn {
		display: none;
	}
	
	.ipad-function-section .function-large-image-text-container {
		margin-top: 0px;
	}
	
	.ipad-function-section .function-container h2 {
		font-size: 24px;
		letter-spacing: 1px;
		text-align: center;
	}
	
	.ipad-function-section .function-container p {
		font-size: 14px;
		letter-spacing: 0px;
	}

	.ipad-function-section .function-image {
		width: 100%;
		height: auto;
	}
	
	.ipad-function-section .large-device-next-btn {
		display: none;
	}
	
	.ipad-function-section .small-device-last-btn-img {
		width: 12px;
	}
	
	.ipad-function-section .small-device-next-btn-img {
		width: 12px;
	}
	
	.ipad-function-section .close-btn-img {
		width: 20px;
	}
}

