.iphone-function-section {
	background-color: #FFFFFF;
	width: 100%;
}

.iphone-function-section .section-label {
	background-color: rgba(3, 2, 2, 0.9);
	font-family: "Microsoft YaHei" !important;
	width: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	margin: auto;
	color: #FFFFFF;
	letter-spacing: 3px;
}

.iphone-function-section .title {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 580;
	font-family: "Microsoft YaHei" !important;
	letter-spacing: 2px;
}

.iphone-function-section .description {
	margin-top: 5px;
	font-size: 15px;
	font-family: "Microsoft YaHei" !important;
}

.iphone-function-section .gallery-thumbnail-container {
	max-width: 900px;
	margin-top: 30px;
}

.iphone-function-section .my-column {
	margin-bottom:20px;
}
	
@media (max-width: 500px) {
	.iphone-function-section .my-column {
		margin-bottom:8px;
	}
}

@media (max-width: 992px) {
	.iphone-function-section .my-column {
		margin-bottom:12px;
	}
}

@media (max-width: 1200px) {
	.iphone-function-section .my-column {
		margin-bottom:16px;
	}
}

.iphone-function-section .gallery-image {
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	max-width:340px;
} 

.iphone-function-section .iphone-function-small-image-container {
	position:relative;
}

.iphone-function-section .image-title-box {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	max-width:340px;
}

.iphone-function-section .iphone-function-small-image-container .headline {
    color: #FFFFFF;
    top:30%;
    text-align:center;
    width:100%;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 500px) {
	.iphone-function-section .iphone-function-small-image-container .headline {
		font-size: 13px;
		font-weight: 500;
	}
}

.iphone-function-section .iphone-function-small-image-container .image-overlay {
    position: absolute;
    background-color: rgba(7, 7, 22, 0.7);
    max-width:340px;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

.iphone-function-section .plus {
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #1EBAD6;
    display: block;
    left: 50%;
    margin-left: -13px;
    opacity: 0.8;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    position: absolute;
    top: 64%;
    line-height: 1;
}

/*************************************
 **** screen (width > 1200) ****
 *************************************/
.iphone-function-section .btn-container {
	width: auto;
}

.iphone-function-section .small-device-last-btn {
	display: none;
}

.iphone-function-section .small-device-next-btn {
	display: none;
}

.iphone-function-section .large-device-last-btn {
	margin-top: 150px;
	display: block;
}

.iphone-function-section .function-large-image-text-container {
	margin-top: 80px;
}

.iphone-function-section .function-container h2 {
	font-size: 32px;
	font-weight: 600;
	font-family: "Microsoft YaHei" !important;
	letter-spacing: 3px;
	text-align: left;
}

.iphone-function-section .function-container p {
	font-size: 16px;
	font-weight: 500;
	font-family: "Microsoft YaHei" !important;
	letter-spacing: 1px;
	text-align: left;
}

.iphone-function-section .function-large-image-container {
	/* width: auto; */
	height: 350px;
}

.iphone-function-section .function-image {
	width: auto;
	height: 350px;
}

.iphone-function-section .large-device-next-btn {
	margin-top: 150px;
	display: block;
	float: right;
}

/*****************************************************
 **** screen (width > 950 && width <= 1200) **********
 *****************************************************/
@media (min-width: 950px) and (max-width: 1200px) {
	.container {
		min-width: 900px;
	}
	
	.iphone-function-section .btn-container {
		width: auto;
	}
	
	.iphone-function-section .small-device-last-btn {
		display: none;
	}
	
	.iphone-function-section .small-device-next-btn {
		display: none;
	}
	
	.iphone-function-section .large-device-last-btn {
		margin-top: 120px;
		display: block;
	}
	
	.iphone-function-section .function-large-image-text-container {
		width: 400px;
		margin-top: 60px;
		left: 35%;
	}
	
	.iphone-function-section .function-container h2 {
		font-size: 30px;
		letter-spacing: 3px;
		text-align: center;
	}
	
	.iphone-function-section .function-large-image-container {
		width: 300px;
		height: auto;
		right: 45%;
	}
	
	.iphone-function-section .function-image {
		width: 300px;
		height: auto;
	}
	
	.iphone-function-section .large-device-next-btn {
		margin-top: 120px;
		display: block;
		float: right;
	}
}

/*****************************************************
 **** screen (width > 750 && width <= 950) ***********
 *****************************************************/
@media (min-width: 750px) and (max-width: 950px) {
	.container {
		min-width: 680px;
	}
	
	.iphone-function-section .btn-container {
		width: auto;
	}
	
	.iphone-function-section .small-device-last-btn {
		display: none;
	}
	
	.iphone-function-section .small-device-next-btn {
		display: none;
	}
	
	.iphone-function-section .large-device-last-btn {
		margin-top: 100px;
		display: block;
	}
	
	.iphone-function-section .function-large-image-text-container {
		width: 320px;
		margin-top: 50px;
		left: 40%;
	}
	
	.iphone-function-section .function-container h2 {
		font-size: 28px;
		letter-spacing: 3px;
		text-align: center;
	}
	
	.iphone-function-section .function-large-image-container {
		width: 220px;
		height: auto;
		right: 40%;
	}
	
	.iphone-function-section .function-image {
		width: 220px;
		height: auto;
	}
	
	.iphone-function-section .large-device-next-btn {
		margin-top: 100px;
		display: block;
		float: right;
	}
}

/*****************************************************
 **** screen (width > 340 && width <= 750) ***********
 *****************************************************/
 @media (min-width: 340px) and (max-width: 750px) {
 	.iphone-function-section .btn-container {
		width: 330px;
		margin: auto;
	}
	
	.iphone-function-section .small-device-last-btn {
		display: block;
		max-height: 30px;
	}
	
	.iphone-function-section .small-device-next-btn {
		display: block;
		max-height: 30px;
	}
	
	.iphone-function-section .function-container {
		width: 330px;
		height: auto;
		margin: auto;
	}
	
	.iphone-function-section .large-device-last-btn {
		display: none;
	}
	
	.iphone-function-section .function-large-image-text-container {
		width: 330px;
		margin-bottom: 10px;
		margin-top: 0px;
		padding: 0px;
	}
	
	.iphone-function-section .function-container h2 {
		font-size: 28px;
		letter-spacing: 3px;
		text-align: center;
	}
	
 	.iphone-function-section .function-large-image-container {
		width: 330px;
		height: auto;
		padding: 0;
	}
	
	.iphone-function-section .function-image {
		width: 330px;
		height: auto;
		margin: auto;
	}
	
	.iphone-function-section .large-device-next-btn {
		display: none;
	}
}

/*****************************************************
 ************* screen (width < 340) ******************
 *****************************************************/
@media (max-width: 340px) {
	.iphone-function-section .small-device-last-btn {
		display: block;
		max-height: 30px;
	}
	
	.iphone-function-section .small-device-next-btn {
		display: block;
		max-height: 30px;
	}
	
	.iphone-function-section .function-container {
		width: auto;
		height: auto;
	}
	
	.iphone-function-section .large-device-last-btn {
		display: none;
	}
	
	.iphone-function-section .function-large-image-text-container {
		margin-top: 0px;
	}
	
	.iphone-function-section .function-container h2 {
		font-size: 24px;
		letter-spacing: 1px;
		text-align: center;
	}
	
	.iphone-function-section .function-container p {
		font-size: 14px;
		letter-spacing: 0px;
	}

	.iphone-function-section .function-image {
		width: 100%;
		height: auto;
	}
	
	.iphone-function-section .large-device-next-btn {
		display: none;
	}
}