.subscription-section {
	background-image: url("../images/subscription_section_bg.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.subscription-section .section-title {
	margin-bottom: 40px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 34px;
}

@media (max-width: 500px) {
	.subscription-section .section-title {
		font-size: 22px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.subscription-section .section-title {
		font-size: 26px;
	}
}

.subscription-section .lead {
	margin-bottom: 20px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
}

@media (max-width: 500px) {
	.subscription-section .lead {
		font-size: 18px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.subscription-section .lead {
		font-size: 18px;
	}
}

.subscription-section .my-col {
	padding-left: 0;
}

.subscription-section .email-input {
	border-radius: 15px;
	height: 36px;
	background-color: rgba(255, 255, 255, 0.40);
	border-width: 0;
	color: #FFFFFF;
	font-family: "Microsoft YaHei" !important;
	font-size: 16px;
}

.subscription-section .confirm-btn {
	font-weight: 900;
	font-size: 16px;
	border-radius: 16px;
	height: 36px;
	padding: 0 25px;
	font-family: "Microsoft YaHei" !important;
	letter-spacing: 6px;
}

@media (max-width: 500px) {
	.subscription-section .confirm-btn {
		font-size: 18px;
		padding: 0 20px;
	}
}
