a {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

.preloader {
    background-color: #070716;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.global-nav {
	min-height: 100%;
	position: fixed;
	width: 285px;
	background: #0c0e14;
}

.nav-close {
	margin: 20px 0px 20px 10px;
	padding: 10px 30px 10px 10px;
	color: #1ebad6;
	font-size: 16px;
}
.global-nav ul li {
	border-top: 1px solid #636366;
}

.global-nav li a {
	color: #FFFFFF;
	padding-left: 20px;
}

.nav>li>a:hover, .nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus {
	background-color: rgba(255, 255, 255, 0.05);
	color: #1ebad6;
}

.main-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.72);
}

.main-wrapper {
	min-height: 100%;
	position: relative;
	right: 0;
}

.main-wrapper-content {
	position: relative;
	box-shadow: 0 -20px 25px #000000;
}

.header-fade {
	width: 100%;
	height: 165px;
	background: -moz-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(7, 7, 22, 0.7)), color-stop(70%, rgba(7, 7, 22, 0.3)), color-stop(100%, rgba(7, 7, 22, 0)));
	background: -webkit-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: -o-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: -ms-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: linear-gradient(to bottom, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc070716', endColorstr='#00070716', GradientType=0);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
}

.global-header {
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0px;
  z-index: 100;
  line-height: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.42);
  border-bottom: 1px solid #adadad;
}

.global-header:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.global-header a {
	color: #FFFFFF;
}

.global-header .btn-download {
	border: 2px solid #1ebad6;
	background-color: #070716;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.menu-btn {
	height: 16px;
	width: 58px;
	display: inline-block;
	background: url("../images/menu.png") no-repeat;
}

@media screen and (max-width: 500px) {
	.menu-btn {
		width: 29px;
	}
}

.header-pull-left {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.header-pull-right {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 0;
}

.logo {
	background: url("../images/logo.png") no-repeat;
	background-size: 35px 42px;
	display: inline-block;
	font: 0px;
	height: 42px;
	width: 35px;
}

.download-iphone-app {
	background: url("../images/download_iphone_app.png") no-repeat;
	background-size: 17px 32px;
	display: inline-block;
	height: 32px;
	width: 17px;
}

.download-ipad-app {
	background: url("../images/download_ipad_app.png") no-repeat;
	background-size: 27px 36px;
	display: inline-block;
	height: 36px;
	width: 27px;
	margin-left: 30px;
	margin-right: 10px;
}

@media screen and (max-width: 500px) {
	.download-ipad-app {
		margin-left: 10px;
	}
}

.inline-hidden-xs {
	display: inline-block;
}

.my-hidden-xs {
	display: inline-block;
	margin-left: 4px;
	font-size: 14px;
}

.btn-response {
	
}

.js-slide {
	max-width: 100%;
}

.slide-img {
	width: 100%;
	height: auto;
	max-width: none !important;
	position: absolute;
}

.carousel-caption {
	bottom: 140px;
}

.carousel-caption .title {
	font-size: 50px;
	font-weight: 900;
}

@media screen and (max-width: 500px) {
	.carousel-caption .title {
		font-size: 27px;
	}
}

.carousel-caption .content {
	font-size: 15px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.42);
	width: 360px;
	margin:0 auto;
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 20px;
}

@media screen and (max-width: 500px) {
	.carousel-caption .content {
		font-size: 10px;
		width: 220px;
	}
}

.carousel-indicators li {
	width: auto;
	height: auto;
	margin: 0 0 0 20px;
	border: 5px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.carousel-indicators li.active {
	width: auto;
	height: auto;
	margin: 0 0 0 20px;
	border: 5px solid #0c3b59;
}
.carousel-indicators li:first-child{
	margin-left: 1px;
}
.carousel-indicators li.active:first-child {
	margin-left: 0px;
}

@media screen and (max-width: 500px) {
	.global-header {
		padding: 10px;
	}
	
	.my-hidden-xs {
		display: none !important;
	}

	.inline-hidden-xs {
		display: none !important;
	}
	
	.logo {
		width: 21px;
		height: 25px;
		top: 0px;
		background: transparent url("../images/logo.png") no-repeat left top;
		background-size: 21px 25px;
	}

	.carousel-indicators li {
		border: 2px solid #1ebad6;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.carousel-indicators li.active {
		border: 2px solid #cccccc;
	}
}

.gallery-section {
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

.gallery-section .label {
	padding: 3px 10px 3px 10px;
	background-color: rgba(3, 2, 2, 0.9);
	font-size: 16px;
}

.gallery-section .title {
	margin-top: 25px;
	margin-bottom: 0;
	font-size: 28px;
	font-weight: 900;
}

.gallery-section .description {
	font-size: 13px;
}

.gallery-container {
	max-width: 780px;
	margin-top: 30px;
}

.my-column {
	margin-bottom:20px;
}
	
@media (max-width: 500px) {
	.my-column {
		margin-bottom:8px;
	}
}

@media (max-width: 992px) {
	.my-column {
		margin-bottom:12px;
	}
}

@media (max-width: 1200px) {
	.my-column {
		margin-bottom:16px;
	}
}

.gallery-image {
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	max-width:340px;
} 

.image-container {
	position:relative;
}

.image-title-box {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	max-width:340px;
}

.headline {
    color: #FFFFFF;
    top:30%;
    text-align:center;
    width:100%;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 500px) {
	.headline {
		font-size: 16px;
		font-weight: 500;
	}
}

.image-overlay {
    position: absolute;
    background-color: rgba(7, 7, 22, 0.7);
    max-width:340px;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

.plus {
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #1EBAD6;
    display: block;
    left: 50%;
    margin-left: -13px;
    opacity: 0.8;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    position: absolute;
    top: 64%;
    line-height: 1;
}

.glyphicon-plus {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 25px;
}

.modal-gallery {
    display: block;
    position: relative;
    margin-bottom:50px;
}

.modal-gallery .close-btn {
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 20px;
	padding-right: 10px;
}

@media (max-width: 500px) {
	.modal-gallery .close-btn {
		top: 30px;
		z-index: 99;
	}
}

.modal-gallery .modal-container {
	background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat;
    background-size: 18px 18px;
    color: #FFFFFF;
    height: 600px;
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 500px) {
	.modal-gallery .modal-container {
		height: 240px;
		padding-top: 55px;
		margin-top: 20px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.modal-gallery .modal-container {
		height: 480px;
	}
}

.modal-gallery .modal-container .btn {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	height: 452px;
	top: 50%;
    margin-top: -200px;
	width: 40%;
	left: no;
	right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 215px;
}

@media (max-width: 500px) {
	.modal-gallery .modal-container .btn {
		background-color: rgba(0, 0, 0, 0);
		color: #1EBAD6;
	    right: 0;
	    text-align: right;
	    height: auto;
	    margin: 0;
	    padding: 22px;
	    left: no;
	    top: 0;
	    width: 52px;
	}
}

.modal-gallery .modal-container .btn.last {
    left: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 215px;
    text-align: left;
    z-index:10;
}

@media (max-width: 500px) {
	.modal-gallery .modal-container .btn.last {
	 	padding-bottom: 22px;
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-top: 35px;
	}
}

.modal-gallery .modal-container .btn.next {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 215px;
    text-align: right;
    left: auto;
    right: 0;
}
	
@media (max-width: 500px) {
	.modal-gallery .modal-container .btn.next {
		margin: 0;
		padding-bottom: 22px;
	    padding-left: 22px;
	    padding-right: 22px;
	    padding-top: 35px;
		left: 50px;
		right: auto;
	}
}

.modal-gallery .modal-container ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
}

@media (max-width: 500px) {
	.modal-gallery .modal-container ul {
	    border-top-color: #666666;
	    border-top-style: solid;
	    border-top-width: 1px;
	}
}

.modal-gallery .modal-container .modal-slide {
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
    position: relative;
}

@media (max-width: 500px) {
	.modal-gallery .modal-container .modal-slide {
	    padding-bottom: 0;
	    padding-left: 0;
	    padding-right: 0;
	    padding-top: 30px;
	    position: relative;
	}
}

.modal-gallery .modal-container .modal-slide .feature-image {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/gallery_iphone_1.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    position: absolute;
    z-index: 2;
}

.modal-gallery .modal-container .modal-slide .feature-image {
    height: 663px;
    left: 85px;
    top: -32px;
    width: 488px;
}

@media (max-width: 500px) {
	.modal-gallery .modal-container .modal-slide .feature-image {
		height: 200px;
		width: 150px;
		left: -10px;
    	top: 10px;
	    background-size: cover;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.modal-gallery .modal-container .modal-slide .feature-image {
		height: 480px;
		width: 360px;
		left: 20px;
    	top: 20px;
	    background-size: cover;
	}
}

.modal-gallery .modal-container .modal-slide .copy {
    margin-bottom: 0;
    margin-left: 520px;
    margin-right: 0;
    margin-top: 80px;
    width: 350px;
    color: #000000;
}

.modal-gallery .modal-container .modal-slide .copy h2 {
	font-weight: 900;
	font-size: 34px;
}

@media (max-width: 500px) {
	.modal-gallery .modal-container .modal-slide .copy {
	    margin-bottom: 13px;
	    margin-left: 145px;
	    margin-right: 10px;
	    margin-top: 30px;
	    width: 150px;
	}
	
	.modal-gallery .modal-container .modal-slide .copy h2 {
		font-weight: 900;
		font-size: 15px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.modal-gallery .modal-container .modal-slide .copy {
	    margin-bottom: 13px;
	    margin-left: 330px;
	    margin-right: 10px;
	    margin-top: 100px;
	    width: 240px;
	}
	
	.modal-gallery .modal-container .modal-slide .copy h2 {
		font-weight: 900;
		font-size: 16px;
	}
}

.modal-gallery .modal-container .modal-slide .copy {
    position: relative;
    text-align: left;
}

.partner-section {
	background-image: url("../images/partner_section_bg.jpg");
	background-repeat: no-repeat;
    background-size: auto auto;
    height: 899px;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

@media (max-width: 500px) {
	.partner-section {
    	padding-top: 30px;
    	height: 599px;
	}
}

.partner-section .section-title {
	font-family: "Microsoft YaHei" !important;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 3px;
}

@media (max-width: 500px) {
	.partner-section .section-title {
		font-size: 20px;
		letter-spacing: 1px;
	}
}

.partner-section .lead {
	font-family: "Microsoft YaHei" !important;
	font-size: 20px;
}

@media (max-width: 500px) {
	.partner-section .lead {
		font-size: 16px;
	}
}

.partner-form {
	background-color: rgba(0, 0, 0, 0.31);
	padding: 10px 20px 20px 20px;
	border-radius: 5px;
}

.partner-form .title {
	margin-bottom: 10px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
}

.partner-form .lead {
	margin-bottom: 5px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
}

.partner-form > .row {
	margin-bottom: 10px;
}

.partner-form .confirm-btn {
	background-color: rgba(0, 0, 0, 0.31);
	padding: 5px 30px 5px 30px;
	margin-top: 20px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0, .29);
}

.subscription-section {
	background-image: url("../images/subscription_section_bg.jpg");
	background-repeat: no-repeat;
    background-size: auto auto;
    height: 899px;
    width: 100%;
    padding-top: 250px;
}

@media (max-width: 500px) {
	.subscription-section {
    	height: 550px;
    	width: 100%;
    	padding-top: 150px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.subscription-section {
    	height: 600px;
    	width: 100%;
    	padding-top: 180px;
	}
}

.subscription-section .section-title {
	margin-bottom: 40px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 34px;
}

@media (max-width: 500px) {
	.subscription-section .section-title {
		font-size: 22px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.subscription-section .section-title {
		font-size: 26px;
	}
}

.subscription-section .lead {
	margin-bottom: 20px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
}

@media (max-width: 500px) {
	.subscription-section .lead {
		font-size: 18px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.subscription-section .lead {
		font-size: 18px;
	}
}

.download-section {
	padding-top: 100px;
	padding-bottom: 50px;
}

@media (max-width: 500px) {
	.download-section {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section {
		padding-top: 90px;
		padding-bottom: 80px;
	}
}

.download-section .myrow {
	margin-left: 15px;
	margin-right: 15px;
}

@media (max-width: 500px) {
	.download-section .myrow {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.download-section .title {
	font-family: "Microsoft YaHei" !important;
	font-weight: 900;
	font-size: 24px;
}

@media (max-width: 500px) {
	.download-section .title {
		font-size: 20px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .title {
		font-size: 26px;
	}
}

.download-section .content {
	font-family: "Microsoft YaHei" !important;
	margin-top: 20px;
	font-size: 18px;
}

@media (max-width: 500px) {
	.download-section .content {
		margin-top: 10px;
		font-size: 15px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .content {
		font-size: 16px;
	}
}

.download-section .download-text-container {
	margin-top: 90px;
}

@media (max-width: 500px) {
	.download-section .download-text-container {
		margin-top: 20px;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.download-section .download-text-container {
		margin-top: 50px;
	}
}

.download-section .text {
	padding: 0;
	font-family: "Microsoft YaHei" !important;
	font-size: 16px;
	font-weight: 900;
}

.download-section .app-text {
	padding: 0;
	font-family: "Microsoft YaHei" !important;
	font-size: 14px;
}

.download-section .img-container {
	padding: 0;
}

.download-section .img-container .ipad-logo {
	width: 100%;
	height: 100%;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .img-container .ipad-logo {
		max-width: 70px;
	}
}

.download-section .img-container .iphone-logo {
	width: 100%;
	height: 100%;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .img-container .iphone-logo {
		max-width: 70px;
	}
}

.download-section .img-container .QR-code {
	width: 100%;
	height: 100%;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .img-container .QR-code {
		max-width: 70px;
	}
}

.download-section .name-container {
	margin: 0;
	padding: 0;
}

.download-section .ipad-name {
	padding-top: 5px;
	font-family: "Microsoft YaHei" !important;
	font-size: 15px;
	font-weight: 900;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .ipad-name {
		max-width: 70px;
	}
}

.download-section .iphone-name {
	padding-top: 5px;
	font-family: "Microsoft YaHei" !important;
	font-size: 15px;
	font-weight: 900;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .iphone-name {
		max-width: 70px;
	}
}

.download-section .QR-code-name {
	padding-top: 5px;
	font-family: "Microsoft YaHei" !important;
	font-size: 15px;
	font-weight: 900;
	max-width: 80px;
}

@media (max-width: 900px) {
	.download-section .QR-code-name {
		max-width: 70px;
	}
}

.download-section .download-placeholder {
	width: 100%;
	height: 100%;
	max-height: 500px;
}

@media (max-width: 500px) {
	.download-section .download-placeholder {
		width: 100%;
		height: auto;
	}
}

.map-section #map {
	position: relative;
	width: auto;
}

.map-section .container {
	width: 100%;
	background-color;
	background-image: url("../images/about_us_bg.png");
	background-repeat: repeat;
    background-size: auto auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.map-section .company {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 900;
}

.map-section .email {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	padding-top: 5px;
}

.map-section .telephone {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
}

.map-section .attention {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 900;
}

.map-section .specifier {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
}

.map-section .sns img {
	margin: 5px;
}

.noverflow {
	overflow: hidden;
}

.ipadiphone-img {
	width: 100%;
	position: absolute;
	bottom: 0;
}
