.global-header {
  width: 100%;
  padding: 38px 20px 20px 20px;
  position: fixed;
  top: 0px;
  z-index: 5;
  line-height: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #adadad;
}

.global-header a {
	color: #FFFFFF;
}

.logo {
	background: url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-web-light@1x.png") no-repeat scroll left top / 167px 23px rgba(0, 0, 0, 0);
	border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    height: 23px;
    overflow: hidden;
    text-shadow: none;
	width: 167px;
}

.my-hidden-xs {
	display: inline-block;
}

.my-slide {
	overflow: hidden;
}

.btn-response {
	
}

@media screen and (max-width: 768px) {
	.global-header {
		padding: 18px 5px 18px 5px;
	}
	
	.my-hidden-xs {
		display: none !important;
	}
	
	.logo {
		width: 90px;
		height: 13px;
		top: 0px;
		background: transparent url('https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-mobile-light@1x.png') no-repeat left top;
		background-size: 90px 13px;
	  }
}

.gallery-container {
	max-width:680px;
}

.my-column {
	margin-bottom:8px;
}

@media (min-width: 768px) {
	.my-column {
		margin-bottom:12px;
	}
}

@media (min-width: 992px) {
	.my-column {
		margin-bottom:16px;
	}
}

@media (min-width: 1200px) {
	.my-column {
		margin-bottom:20px;
	}
}

.gallery-image {
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	max-width:340px;
} 

.image-container {
	position:relative;
}

.image-title-box {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.headline {
    color: #FFFFFF;
    top:30%;
    position: relative;
}

.image-overlay {
    position: absolute;
    background-color: rgba(7, 7, 22, 0.7);
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

.plus {
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #1EBAD6;
    display: block;
    left: 50%;
    margin-left: -13px;
    opacity: 0.8;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    position: absolute;
    top: 64%;
    line-height: 1;
}

.glyphicon-plus {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 25px;
}

.modal-gallery {
    display: block;
    position: relative;
}

.modal-gallery .close-modal {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 8px;
}

.modal-gallery .modal-container {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #202024;
    background-image: url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid-dark@1x.gif");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat;
    background-size: 18px 18px;
    color: #FFFFFF;
    height: 600px;
    margin-top: 50px;
    width: 100%;
}

.modal-gallery .modal-container .btn.last {
    left: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 215px;
    text-align: left;
}

.modal-gallery .modal-container .btn.next {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 215px;
    text-align: right;
}

.modal-gallery .modal-container .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    color: #1EBAD6;
    font-size: 22px;
    height: 452px;
    margin-top: -226px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 40%;
    z-index: 2;
}

.btn {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #1EBAD6;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #1EBAD6;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.modal-gallery .modal-container a, h1, h2, h3, h4, h5 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.modal-gallery .modal-container ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.modal-gallery .modal-container ul {
    font-size: 14px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.modal-gallery .modal-container .modal-slide {
    display: none;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
    position: relative;
}

.modal-gallery .modal-container .modal-slide.tap-to-ride .feature-image {
    height: 660px;
    left: 85px;
    top: -32px;
    width: 270px;
}

.modal-gallery .modal-container .modal-slide .feature-image {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/features-phones-web-sprite@1x-8.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    position: absolute;
    z-index: 2;
}

.modal-gallery .modal-container .modal-slide.tap-to-ride .stick {
    left: 128px;
    top: 220px;
    transform: rotate(-45deg);
}

.modal-gallery .modal-container .modal-slide .stick {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/sprite@1x-8.png");
    background-origin: padding-box;
    background-position: -145px top;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 32px;
    position: relative;
    width: 225px;
    z-index: 1;
}

.modal-gallery .modal-container .modal-slide.tap-to-ride .copy {
    padding-bottom: 0;
    padding-left: 340px;
    padding-right: 0;
    padding-top: 110px;
}

.modal-gallery .modal-container .modal-slide .copy {
    position: relative;
    text-align: left;
}

.modal-gallery .modal-container .modal-slide.active {
    display: block;
}

