.global-header {
  width: 100%;
  padding: 38px 20px 20px 20px;
  position: fixed;
  top: 0px;
  z-index: 5;
  line-height: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #adadad;
}

.global-header a {
	color: #FFFFFF;
}

.logo {
	background: url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-web-light@1x.png") no-repeat scroll left top / 167px 23px rgba(0, 0, 0, 0);
	border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    height: 23px;
    overflow: hidden;
    text-shadow: none;
	width: 167px;
}

.my-hidden-xs {
	display: inline-block;
}

.my-slide {
	overflow: hidden;
}

.btn-response {
	
}

@media screen and (max-width: 768px) {
	.global-header {
		padding: 18px 5px 18px 5px;
	}
	
	.my-hidden-xs {
		display: none !important;
	}
	
	.logo {
		width: 90px;
		height: 13px;
		top: 0px;
		background: transparent url('https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-mobile-light@1x.png') no-repeat left top;
		background-size: 90px 13px;
	  }
}