a {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

.preloader {
    background-color: #070716;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.global-nav {
	min-height: 100%;
	position: fixed;
	width: 285px;
	background: #202024 url('https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid-dark@1x.gif') repeat left top;
}

.nav-close {
	margin: 20px 0px 20px 10px;
	padding: 10px 30px 10px 10px;
	color: #1ebad6;
	font-size: 16px;
}
.global-nav ul li {
	border-top: 1px solid #636366;
}

.global-nav li a {
	color: #FFFFFF;
	padding-left: 20px;
}

.nav>li>a:hover, .nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus {
	background-color: rgba(255, 255, 255, 0.05);
	color: #1ebad6;
}

.main-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
}

.main-wrapper {
	min-height: 100%;
	position: relative;
	right: 0;
	box-shadow: 0 -20px 25px #000000;
}

.header-fade {
	width: 100%;
	height: 165px;
	background: -moz-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(7, 7, 22, 0.7)), color-stop(70%, rgba(7, 7, 22, 0.3)), color-stop(100%, rgba(7, 7, 22, 0)));
	background: -webkit-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: -o-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: -ms-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	background: linear-gradient(to bottom, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc070716', endColorstr='#00070716', GradientType=0);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
}

.global-header {
  width: 100%;
  padding: 20px 20px 20px 20px;
  position: fixed;
  top: 0px;
  z-index: 100;
  line-height: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.42);
  border-bottom: 1px solid #adadad;
}

.global-header:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.global-header a {
	color: #FFFFFF;
}

.global-header .btn-download {
	border: 2px solid #1ebad6;
	background-color: #070716;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.logo {
	background: url("../images/logo.png") no-repeat scroll left top / 27px 32px rgba(0, 0, 0, 0);
	border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    height: 32px;
    overflow: hidden;
    text-shadow: none;
	width: 27px;
}

.download-iphone-app {
	background: url("../images/download_iphone_app.png") no-repeat scroll left top / 17px 32px rgba(0, 0, 0, 0);
	border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    height: 32px;
    overflow: hidden;
    text-shadow: none;
	width: 17px;
}

.download-ipad-app {
	background: url("../images/download_ipad_app.png") no-repeat scroll left top / 27px 36px rgba(0, 0, 0, 0);
	border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    height: 36px;
    overflow: hidden;
    text-shadow: none;
	width: 27px;
	margin-left: 30px;
	margin-right: 10px;
}

.my-hidden-xs {
	display: inline-block;
	margin-left: 4px;
	font-size: 14px;
}

.my-slide {
	overflow: hidden;
}

.btn-response {
	
}

.slide-img {
	width: 100%;
	height: auto;
	max-width: none !important;
	position: absolute;
}

.carousel-caption {
	bottom: 140px;
}

.carousel-caption .title {
	font-size: 50px;
	font-weight: 900;
}

.carousel-caption .content {
	font-size: 15px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.42);
	width: 360px;
	margin:0 auto;
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 20px;
}

.carousel-indicators li {
	width: auto;
	height: auto;
	margin: 0 0 0 20px;
	border: 5px solid #1ebad6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.carousel-indicators li.active {
	width: auto;
	height: auto;
	margin: 0 0 0 20px;
	border: 5px solid #cccccc;
}
.carousel-indicators li:first-child{
	margin-left: 1px;
}
.carousel-indicators li.active:first-child {
	margin-left: 0px;
}

@media screen and (max-width: 768px) {
	.global-header {
		padding: 18px 10px 18px 10px;
	}
	
	.my-hidden-xs {
		display: none !important;
	}
	
	.logo {
		width: 90px;
		height: 13px;
		top: 0px;
		background: transparent url('https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-mobile-light@1x.png') no-repeat left top;
		background-size: 90px 13px;
	}

	.carousel-indicators li {
		border: 2px solid #1ebad6;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.carousel-indicators li.active {
		border: 2px solid #cccccc;
	}
}

.gallery-section {
	background-color: #FFFFFF;
	padding-top: 30px;
}

.gallery-section .label {
	padding: 3px 10px 3px 10px;
	background-color: rgba(3, 2, 2, 0.9);
	font-size: 16px;
}

.gallery-section .title {
	margin-top: 25px;
	margin-bottom: 0;
	font-size: 28px;
	font-weight: 900;
}

.gallery-section .description {
	font-size: 13px;
}

.gallery-container {
	max-width:680px;
	margin-top: 30px;
}

.my-column {
	margin-bottom:8px;
}

@media (min-width: 768px) {
	.my-column {
		margin-bottom:12px;
	}
}

@media (min-width: 992px) {
	.my-column {
		margin-bottom:16px;
	}
}

@media (min-width: 1200px) {
	.my-column {
		margin-bottom:20px;
	}
}

.gallery-image {
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	max-width:340px;
} 

.image-container {
	position:relative;
}

.image-title-box {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	max-width:340px;
}

.headline {
    color: #FFFFFF;
    top:30%;
    text-align:center;
    width:100%;
    position: absolute;
}

.image-overlay {
    position: absolute;
    background-color: rgba(7, 7, 22, 0.7);
    max-width:340px;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

.plus {
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #1EBAD6;
    display: block;
    left: 50%;
    margin-left: -13px;
    opacity: 0.8;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    position: absolute;
    top: 64%;
    line-height: 1;
}

.glyphicon-plus {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 25px;
}

.modal-gallery {
    display: block;
    position: relative;
    margin-bottom:50px;
}

.modal-gallery .close-btn {
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 20px;
	padding-right: 10px;
}

@media (max-width: 768px) {
	.modal-gallery .close-btn {
		top: 60px;
		z-index: 99;
	}
}

.modal-gallery .modal-container {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: #202024;
    background-image: url("../images/pattern-grid-dark@1x.gif");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat;
    background-size: 18px 18px;
    color: #FFFFFF;
    height: 600px;
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container {
		height: 480px;
		padding-top: 55px;
	}
}

.modal-gallery .modal-container .btn {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	height: 452px;
	top: 50%;
    margin-top: -200px;
	width: 40%;
	left: no;
	right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 215px;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container .btn {
		background-color: rgba(0, 0, 0, 0);
		color: #1EBAD6;
	    right: 0;
	    text-align: right;
	    height: auto;
	    margin: 0;
	    padding: 22px;
	    left: no;
	    top: 0;
	    width: 52px;
	}
}

.modal-gallery .modal-container .btn.last {
    left: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 215px;
    text-align: left;
    z-index:10;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container .btn.last {
	 	padding-bottom: 22px;
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-top: 60px;
	}
}

.modal-gallery .modal-container .btn.next {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 215px;
    text-align: right;
    left: auto;
    right: 0;
}
	
@media (max-width: 768px) {
	.modal-gallery .modal-container .btn.next {
		margin: 0;
		padding-bottom: 22px;
	    padding-left: 22px;
	    padding-right: 22px;
	    padding-top: 60px;
		left: 50px;
		right: auto;
	}
}

.modal-gallery .modal-container ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container ul {
	    border-top-color: #666666;
	    border-top-style: solid;
	    border-top-width: 1px;
	}
}

.modal-gallery .modal-container .modal-slide {
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
    position: relative;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container .modal-slide {
	    padding-bottom: 0;
	    padding-left: 0;
	    padding-right: 0;
	    padding-top: 30px;
	    position: relative;
	}
}

.modal-gallery .modal-container .modal-slide .feature-image {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/features-phones-web-sprite@1x-8.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    position: absolute;
    z-index: 2;
}

.modal-gallery .modal-container .modal-slide .feature-image {
    height: 660px;
    left: 85px;
    top: -32px;
    width: 270px;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container .modal-slide .feature-image {
		background-image: url("../images/home-features-phones-mobile@1x.jpg");
		height: 164px;
	    left: 50%;
	    top: 0;
	    margin-bottom: 20px;
	    margin-left: -135px;
	    margin-right: 0;
	    margin-top: 0;
	    position: relative;
	}
}

.modal-gallery .modal-container .modal-slide .stick {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/sprite@1x-8.png");
    background-origin: padding-box;
    background-position: -145px top;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 32px;
    position: relative;
    width: 225px;
    z-index: 1;
}

.modal-gallery .modal-container .modal-slide .stick {
    left: 128px;
    top: 220px;
    transform: rotate(-45deg);
    display: block;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container .modal-slide .stick {
		display: none;
	}
}

.modal-gallery .modal-container .modal-slide .copy {
    padding-bottom: 0;
    padding-left: 340px;
    padding-right: 0;
    padding-top: 80px;
}

@media (max-width: 768px) {
	.modal-gallery .modal-container .modal-slide .copy {
	    padding-bottom: 15px;
	    padding-left: 18px;
	    padding-right: 18px;
	    padding-top: 5px;
	}
}

.modal-gallery .modal-container .modal-slide .copy {
    position: relative;
    text-align: left;
}

.partner-section {
	background-image: url("../images/partner_section_bg.jpg");
	background-repeat: no-repeat;
    background-size: auto auto;
    height: 899px;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.partner-form {
	background-color: rgba(0, 0, 0, 0.31);
	padding: 10px 20px 20px 20px;
}

.partner-form .title {
	margin-bottom: 10px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
}

.partner-form .lead {
	margin-bottom: 5px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
}

.partner-form .input-group {
	margin-bottom: 10px;
	float: left;
}

.partner-form .confirm-btn {
	background-color: rgba(0, 0, 0, 0.31);
	padding: 5px 30px 5px 30px;
	margin-top: 20px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0, .29);
}

.subscription-section {
	background-image: url("../images/subscription_section_bg.jpg");
	background-repeat: no-repeat;
    background-size: auto auto;
    height: 899px;
    width: 100%;
    padding-top: 250px;
}

.subscription-section .section-title {
	margin-bottom: 40px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 34px;
}

.subscription-section .lead {
	margin-bottom: 20px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
}

.ipad-download-section {
	background-color: rgba(0, 0, 0, 0.42);
	padding-top: 100px;
	padding-bottom: 50px;
}

.ipad-download-section .title {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 40px;
}

.ipad-download-section .lead {
	color: #FFFFFF;
	padding-bottom: 40px;
	font-weight: 700;
	font-size: 22px;
}

.ipad-download-section p {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 3px;
}

.ipad-download-section ã€‚divider {
	width: 2px;
	height: 199px;
}

.ipad-download-section .ipad-logo {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

.ipad-download-section .QR-code {
	width: 100%;
	height: 100%;
	margin-top: 50px;
}

.ipad-download-section .QR-text {
	margin-top: 80px;
}

.ipad-download-section .ipad_download_placeholder {
	width: 100%;
	height: 100%;
}

.map-section .map {
	width: 100%;
	height: 100%;
}